body {
  text-align: center;
}

.polContainer {
  display:inline-block;
  position: relative;
}

input {
  display:block;
  margin: auto;
}

h4 {
  position: absolute;
  bottom:2em;
  left:0;
  right:0;
  margin:auto;
}

form {
  text-align: center;
}

.btn-danger {
  position: absolute;
  top:1em;
  right:1em;
  background: transparent;
  color:black;
  outline:none;
}
